<h1>Developer Dashboard</h1>

<p>As a developer, you can assign roles to users and manage technical settings.</p>

<ul class="options-list">
  <li class="options-item"><%= link_to 'Assign Roles', developer_dashboard_path, class: 'options-link' %></li>
</ul>
