<h1>Select a Position to Vote</h1>
<ul>
  <% @positions.each do |position| %>
    <li><%= link_to position.name, position_path(position) %></li>
  <% end %>
</ul>

<p>
  <%= link_to 'Home', root_path %>
</p>
