<h1><%= @position.name %></h1>

<%= link_to 'Edit', edit_admin_position_path(@position), class: 'btn btn-warning' %>
<%= link_to 'Back to Positions', admin_positions_path, class: 'btn btn-secondary' %>
