<h1><%= @candidate.name if @candidate %></h1>

<p>Position: <%= @candidate.position.name if @candidate && @candidate.position %></p>

<% if @candidate.image.attached? %>
  <%= image_tag @candidate.image %>
<% else %>
  <p>No image available</p>
<% end %>

<%= link_to 'Back to Candidates List', admin_candidates_path %>
