<h1>Welcome to the Church Group Voting App</h1>

<p>Please select one of the following options:</p>

<ul>
  <li><%= link_to 'Vote for Candidates', positions_path %></li>
  <li><%= link_to 'View Voting Summary', summary_path %></li>
</ul>
