<% @positions.each do |position| %>
  <h2><%= position.name %></h2>
  <ul>
    <% position.candidates.each do |candidate| %>
      <li>
        <%= candidate.name %> - <%= candidate.votes.count %> votes (<%= candidate.vote_percentage %>%)
      </li>
    <% end %>
  </ul>
<% end %>
